.root {
  background-color: #11284b;
  background-size: cover;
  background-position: left;
  background-image: linear-gradient(
      0deg,
      rgba(130, 201, 30, 0) 0%,
      #5e9fe3 120%
    ),
    url(https://static.vecteezy.com/system/resources/previews/026/365/282/original/cute-cat-and-dog-cartoon-icon-illustration-animal-friend-icon-concept-isolated-premium-flat-cartoon-style-vector.jpg);
  padding-top: calc(var(--mantine-spacing-lg) * 5);
  padding-bottom: calc(var(--mantine-spacing-lg) * 13);
}

.inner {
  display: flex;
  justify-content: space-between;
  @media (max-width: $mantine-breakpoint-md) {
    flex-direction: column;
  }
}

.image {
  @media (max-width: $mantine-breakpoint-md) {
    display: none;
  }
}

.content {
  padding-top: calc(var(--mantine-spacing-xl) * 4);
  padding-bottom: calc(var(--mantine-spacing-xl) * 2);
  margin-right: calc(var(--mantine-spacing-xl) * 3);

  @media (max-width: $mantine-breakpoint-md) {
    margin-right: 0;
  }
}

.title {
  color: var(--mantine-color-white);
  font-family: Greycliff CF, var(--mantine-font-family);
  font-weight: 900;
  line-height: 1.05;
  max-width: rem(800px);
  font-size: rem(48px);

  @media (max-width: $mantine-breakpoint-md) {
    max-width: 100%;
    font-size: rem(34px);
    line-height: 1.15;
  }
}

.description {
  color: var(--mantine-color-white);
  max-width: rem(500px);
  @media (max-width: $mantine-breakpoint-md) {
    max-width: 100%;
  }
}

.control {
  padding-left: rem(50px);
  padding-right: rem(50px);
  font-family: Greycliff CF, var(--mantine-font-family);
  font-size: rem(22px);

  @media (max-width: $mantine-breakpoint-md) {
    width: 100%;
  }
}

.icon {
  color: light-dark(var(--mantine-color-gray-5), var(--mantine-color-dark-3));
}

.name {
  font-family: Greycliff CF, var(--mantine-font-family);
}
